h1 { color: #rrggbb; font-family: 'Open Sans', sans-serif; font-size: 34px; font-weight: 300; line-height: 40px; margin: 0 0 16px; text-align: center; }

h2 { color: #rrggbb; font-family: 'Open Sans', sans-serif; font-size: 24px; font-weight: 300; line-height: 32px; margin: 0 0 14px; text-align: center; }


a { color: blue; text-decoration: underline; text-align: center; }

a:hover { color: #1c1c1c; text-decoration: underline; text-align: center; }


.log-form {
    color: purple;
    background-color: #ff6347 }
	
  }
  

  
